/* 
    Document   : style
    Created on : 18-may-2013, 18:43:44
    Author     : rolando
    Description:
        Purpose of the stylesheet follows.
*/

.pwt-message-length-limit {
    color: red;
}

